USE [Alumnos]
GO
/****** Object:  Table [Table_1]    Script Date: 16/02/2019 01:50:48 p.m. ******/
DROP TABLE [Table_1]
GO
USE [master]
GO
/****** Object:  Database [Alumnos]    Script Date: 16/02/2019 01:50:48 p.m. ******/
DROP DATABASE [Alumnos]
GO
/****** Object:  Database [Alumnos]    Script Date: 16/02/2019 01:50:48 p.m. ******/
CREATE DATABASE [Alumnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Alumnos', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Alumnos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Alumnos_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Alumnos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Alumnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Alumnos]
GO
/****** Object:  Table [Table_1]    Script Date: 16/02/2019 01:50:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Table_1](
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
